header {
    color: midnightblue;
    font-size: 45px;
    text-align: center;
}

.whole-aquarium {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    border: solid;
    border-color: blue;
    
}


img {
    border: solid #555;
    justify-content: space-between;

  }

* {
    border: solid;
    border-color: powderblue;
}
.fish-pic {
    justify-content: space-between;
   margin: 25%;
    
}

.fish-bio {
   
   justify-content: space-between;
   margin: auto;
   align-self: center;

}

 .travel {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
  

}
.travel-tips {
    margin-bottom: 25%;
    border-color: gray;
}

ul {
    list-style-type: none;
}
.fish-details {
    display: flex;
    margin: 60px;
}
.fishes {
    margin: 0 auto;
}