body {
    background-color: mediumturquoise;
}
header {
    color:midnightblue;
    font-size: 45px;
    text-align: center;

}
#longfin {
    
    background-color: mintcream;
    border-style: solid;
    position: relative;
    left: 200px;
    right: auto; justify-content: 
}


img {
    border: 5px solid #555;
  }
  #blue-acara {
    background-color: mintcream;
    border-style: solid;
    position: relative;
    left: 200px;
    right: auto;
  }
#goldfish {
    background-color: mintcream;
    border-style: solid;
    position: relative;
    left: 200px;
    right: auto;
}

